<!-- START SERVICES SECTION -->
<section id="services" class="section-padding">
   <div class="auto-container">
      <div class="row">
         <div class="col-lg-7 col-md-7 col-12 mx-auto text-center">
            <div class="section-title">
               <h6 class="theme-color">Think Out Side The Box</h6>
               <h2>Why Choose {{siteNameLogo}}</h2>
               <p>{{siteName}} offers modern classrooms, well-equipped laboratories, a rich library, and digital learning facilities. With a focus on academics, sports, and extracurricular activities, we provide holistic development. Our dedicated faculty ensures personalized attention, while a safe and nurturing environment helps students grow into confident and responsible individuals.</p>
            </div>
         </div>
      </div>
      <!-- end section title -->
      <div class="row">
         {{#each feature}}
         <div class="col-lg-4 col-md-4 col-sm-12 col-12 text-center mb-lg-0 mb-md-0 mb-sm-4 mb-4">
            <div class="single-service-item shadow bg-white">
               <div class="icon-holder mb-3">
                  <div class="service-item-icon-bg">
                     {{{icon}}}
                  </div>
               </div>
               <div class="service-item-text-holder">
                  <h4>{{title}}</h4>
                  <p class="text-justify">{{shortDescription}}</p>
                  <button type="button" class="btn btn-primary rounded-pill" data-toggle="modal" data-target="#feature{{_id}}">
                     Read More
                  </button>

               </div>
            </div>
         </div>
         <!-- Modal -->
         <div class="modal fade" id="feature{{_id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
               <div class="modal-content">
                  <div class="modal-header">
                     <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                     <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                     </button>
                  </div>
                  <div class="modal-body">
                     {{{longDescription}}}
                  </div>
                  <div class="modal-footer">
                     <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  </div>
               </div>
            </div>
         </div>
         {{/each}}
         <!-- End single service item -->
         {{!-- <div class="col-lg-4 col-md-4 col-sm-12 col-12 text-center mb-lg-0 mb-md-0 mb-sm-4 mb-4">
            <div class="single-service-item shadow bg-white">
               <div class="icon-holder mb-3">
                  <div class="service-item-icon-bg">
                     <i class="icofont-teacher"></i>
                  </div>
               </div>
               <div class="service-item-text-holder">
                  <h4>Quality Teachers</h4>
                  <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod facer
                     possim assum.</p>
                  <a class="thm-btn" href="#">READ MORE</a>
               </div>
            </div>
         </div> --}}
         <!-- End single service item -->
         {{!-- <div class="col-lg-4 col-md-4 col-sm-12 col-12 text-center mb-lg-0 mb-md-0">
            <div class="single-service-item shadow bg-white">
               <div class="icon-holder mb-3">
                  <div class="service-item-icon-bg">
                     <i class="icofont-certificate-alt-1"></i>
                  </div>
               </div>
               <div class="service-item-text-holder">
                  <h4>Great Certification</h4>
                  <p>Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod facer
                     possim assum.</p>
                  <a class="thm-btn" href="#">READ MORE</a>
               </div>
            </div>
         </div> --}}
         <!-- End single service item -->
      </div>
   </div>
   <!--- END CONTAINER -->
</section>
<!-- END SERVICES SECTION -->